RewriteEngine On

# Запрет доступа к служебным папкам
RewriteRule ^data/ - [F,L]
RewriteRule ^src/ - [F,L]

# Перенаправление всех запросов на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]